In [2]:
from sklearn import *
import pandas
import numpy
import matplotlib

In [3]:
df = pandas.read_csv("combinedData.csv")

In [6]:
df.head(3)

,Review,Class,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Nice set of speakers. The sound quality is am...,1,NaN,NaN,NaN,NaN,NaN
1,Have had these for almost a yeara now,1,NaN,NaN,NaN,NaN,NaN
2,I bought this a few days ago and I am so happy...,1,NaN,NaN,NaN,NaN,NaN